@{
    ViewBag.Title = "400 BadRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2><strong>Ooops...</strong></h2>
    <br />
    <p>
        The request couldn't be fulfilled due to bad syntax
    </p>
</div>