@{
    ViewBag.Title = "403 Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2><strong>Ooops...</strong></h2>
    <br />
    <p>
        Access to this resource on the server is denied
    </p>
</div>