@model PL.Models.UserViewModel

@{
    ViewBag.Title = "My profile";
}

<div class="col-md-12" style="margin-top:20px;">
    <div>
        <div class="col-md-10">
            Login: @Model.Login
        </div>
    </div>
    <div>
        <div class="col-md-10">
            Email: @Model.Email
        </div>
    </div>
</div>

